# Python bytecode
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

# Build artifacts
build/
dist/
*.egg-info/
*.sarif

# Virtual environments
.env
.venv
env/
venv/
.ci*/
.py*embed/

# IDE
.idea/
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db
